<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcl.shbc.bussiness.sqlmaps.uc.ShUserMapper" >
  <resultMap id="BaseResultMap" type="com.tcl.shbc.bussiness.entity.uc.ShUser" >
  	<id column="userId" property="userId" jdbcType="BIGINT" />
    <result column="thirdUserId" property="thirdUserId" jdbcType="INTEGER" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="name" property="userName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="registerType" property="registerType" jdbcType="CHAR" />
    <result column="registerTime" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="accountStatus" property="accountStatus" jdbcType="VARCHAR" />
    <result column="headpic" property="headpic" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="accountType" property="accountType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userId, thirdUserId, nickName, name, email, mobile, registerType, registerTime, 
    updateTime, accountStatus, headpic, sex, birthday, province, city, region, accountType
  </sql>
  
  <insert id="insertSelective" parameterType="com.tcl.shbc.bussiness.entity.uc.ShUser" useGeneratedKeys="true" keyProperty="userId">
    insert into shUser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userId,
      </if>
      <if test="thirdUserId != null" >
        thirdUserId,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="registerType != null" >
        registerType,
      </if>
      <if test="registerTime != null" >
        registerTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="accountStatus != null" >
        accountStatus,
      </if>
      <if test="headpic != null" >
        headpic,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="accountType != null" >
        accountType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="thirdUserId != null" >
        #{thirdUserId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="registerType != null" >
        #{registerType,jdbcType=CHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountStatus != null" >
        #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="headpic != null" >
        #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getShUserByUserId" resultMap="BaseResultMap">
   select 
   	<include refid="Base_Column_List" />
    from shUser
    where userId = #{userId,jdbcType=INTEGER}
  </select>
  
  <update id="updateByUserIdSelective" parameterType="com.tcl.shbc.bussiness.entity.uc.ShUser" >
    update shUser
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        idCardNo = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="registerType != null" >
        registerType = #{registerType,jdbcType=CHAR},
      </if>
      <if test="registerTime != null" >
        registerTime = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountStatus != null" >
        accountStatus = #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="headpic != null" >
        headpic = #{headpic,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userId,jdbcType=INTEGER}
  </update>
  
</mapper>