<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.tianniu.mapper.maps.LoginMapper">
	    <select id="getUserByName" resultType="com.tianniu.pojo.User">
	        select userid, flag, password from sys_user where user_name = #{name}
	    </select>	    
	</mapper>

